<ul class="list-group" #mapDisplay>
  <li *ngFor="let school of schools; let i = index" [id]="'school-' + school.id">
    <a (click)="onSchoolItemClick(school.id, i)" class="list-group-item list-group-item-action">
      {{ school.school }}
    </a>
    <div class="collapse" [ngClass]="{'show': activeIndex === i}">
      <div class="content-container">
        <button type="button" class="close" aria-label="Close"
      (click)="clearActive()"><span aria-hidden="true">
        &times;</span>
        </button>
        <h2>{{ school.school }}</h2>
        <h3>Details:</h3>
        <h4>Address: {{ school.address }}</h4>
        <h5>ID: {{ school.id }}</h5>
      </div>
      
    </div>
  </li>
</ul>