<!--
    <ul class="list-group">
    <li *ngFor="let school of schools; let i = index">
        <a href="#" class="list-group-item list-group-item-action" (click)="onSelect(school)">
        {{school.school}}
        </a>
        <div *ngIf="school === selectedSchool">
            <h2>{{selectedSchool.school}}</h2>
            <h3>Details:</h3>
            <h4>Address: {{selectedSchool.address}}</h4>
        </div>
    </li>
</ul>
-->

<ul class="list-group">
  <li *ngFor="let school of schools; let i = index">
    <a class="list-group-item list-group-item-action" (click)="toggleAccordion(i)">
      {{ school.school }}
    </a>
    <div class="collapse" [ngClass]="{'show': activeIndex === i}">
      <h2>{{ school.school }}</h2>
      <h3>Details:</h3>
      <h4>Address: {{ school.address }}</h4>
    </div>
  </li>
</ul>
