:host {
  display: flex;
  height: 100%;
}

#map {
  width: 70vw;
}

#search-button {
  position: absolute;
  top: calc(100% - 50px);
  right: 60vw;
  z-index: 1000;
  border-radius: 25px;
}

.custom-cluster {
  background-color: 	#99eeee;  /* Customize the background color */
  border: #99aaaa;            /* Customize the border style */
  /* Add any other styling you want */
}